#container1 {
    display: grid;
    place-items: center;
    background-color: #faf9ef;
    padding: 10em;
}

#container2 {
    background-color: #788353;
    padding-bottom: 5em;
    padding-top: 5em;
}

.content-container {
    display: flex;
    justify-content: center;
    margin-top: 5em;
}

.function-coloum_1 {
    display: grid;
    width: 50%;
    place-items: end;
    margin-right: 2.5em;
}

.function-coloum_2 {
    display: grid;
    width: 50%;
    place-items: start;
    margin-left: 2.5em;
}

.box {
    display: flex;
    background-color: #faf9ef;
    width: 75%;
    height: 10em;
    border-radius: 25px;
    margin-bottom: 5em;
}

.box-image {
    display: grid;
    place-content: center;
    width: 25%;
}

.image {
    width: 7.5em;
    height: 7.5em;
}

.box-content {
    display: grid;
    align-items: center;
    text-align: left;
    width: 75%;
    margin-right: 1.5em;
}

.articles {
    margin-top: 2.5em;
    width: 45%; 
    height: 50em;
}

.head-title {
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 0.25em;
}

.content-title {
    display: flex;
    justify-content: center;
    margin-top: 0;
    font-size: 50px;
}

.content {
    margin-top: 0;
    margin-bottom: 2em;
}

#container3 {
    background-color: #faf9ef;
    padding-bottom: 5em;
    padding-top: 5em;
}

#container4 {
    background-color: #788353;
    padding-bottom: 5em;
    padding-top: 5em;
}

.infographics {
    margin-top: 2.5em;
    width: 45%; 
    height: auto;
}

#container5 {
    background-color: #faf9ef;
    padding-bottom: 5em;
    padding-top: 5em;
}